<!-- Navigation -->
<a class="menu-toggle rounded" href="#">
  <i class="fa fa-bars"></i>
</a>
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <a class="js-scroll-trigger" href="#page-top">Start Bootstrap</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="#page-top">Home</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="#experiance">Experiance</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="#skills">Skills</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="#education">Education</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="#contact">Contact</a>
    </li>
  </ul>
</nav>

<!-- Header -->
<header class="bg-yellow d-flex pt-5">
  <div class="container text-center my-auto">
    <div class="row photo justify-content-center">
      <div class="col-md-6 ">
        <div class="">
          <img src="assets/img/atish/1.jpg" class="" alt="">
        </div>
      </div>
      <div class="col-md-8">
        <h1 class="mb-1">Hi, I'm Ashish.</h1>
        <h3 class="mb-1"> I am a Full Stack Web Developer.</h3>
        <p class="mb-3">Building the future, one line of code at a time.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 pb-3">
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="assets/img/atish/Ashish_Kamble_Developer_01.pdf"
          target="_blank">Download CV</a>
      </div>
      <div class="col-md-12">
        <ul class="list-inline mb-5">
          <li class="list-inline-item">
            <a class="social-link rounded-circle text-white mr-3" target="_blank"
              href="https://www.linkedin.com/in/ashish-kamble-562b97218/">
              <i class="icon-social-linkedin"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="social-link rounded-circle text-white mr-3" target="_blank" href="https://github.com/Atish1910/">
              <i class="icon-social-github"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="social-link rounded-circle text-white mr-3" target="_blank"
              href="https://www.instagram.com/atishhhh_19/">
              <i class="icon-social-instagram"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="social-link rounded-circle text-white mr-3" target="_blank"
              href="https://www.facebook.com/atish.kamble.14606  ">
              <i class="icon-social-facebook"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a> -->
  </div>
  <div class="overlay"></div>
</header>

<!-- About -->
<section class="py-5 bg-light" id="experiance">
  <div class="container text-center about_01">
    <span class="title text-secondary mb-0">ABOUT ME</span>
    <p class="h5">Who I Am in a Nutshell</p>
    <div class="row align-items-center pt-4 pt-md-0">
      <div class="col-md-4 pb-4 pb-md-0">
        <img src="assets/img/atish/about/1.jpeg" alt="">
      </div>
      <div class="col-md-8 text-left">
        <p>As a full stack web developer, my passion for learning and goal-oriented mindset drive me to excel in my
          role. I approach each project with enthusiasm, eager to explore new technologies and expand my skill set. With
          a background in engineering, I bring a systematic approach to problem-solving and a commitment to delivering
          innovative solutions. <br>

          Beyond my professional pursuits, I prioritize maintaining a healthy lifestyle and fitness. I believe that
          physical well-being is essential for maintaining focus and productivity in all aspects of life. <br>

          My dedication to continuous learning extends beyond the realm of web development, as I actively seek
          opportunities to broaden my knowledge and expertise. Whether it's mastering a new programming language or
          staying updated on industry trends, I am always eager to acquire new skills and stay ahead in an ever-evolving
          field. <br>

          In summary, as a full stack web developer, I am driven by a love for learning, a goal-oriented mindset, and a
          passion for innovation. My engineering background and commitment to personal growth empower me to tackle
          challenges with confidence and make a meaningful impact in the world of technology.</p>
      </div>
    </div>
  </div>
</section>

<!-- Experiance -->
<section class="py-5 bg-primary text-white " id="experiance">
  <div class="container">
    <div class="content-section-heading text-center pb-4 pb-md-0">
      <span class="title text-secondary mb-0">EXPERIENCE</span>
      <p class="h5 ">My Professional Odyssey and Experience</p>
    </div>
    <section>
      <div class="container con_t_line">
        <div class="timeline left">
          <div class="content">
            <h2 class="fw-bold display-5">Web Developer</h2>
            <p class="fw-bold ">Being Addictive <small>(Oct 2022 To Present)</small></p>

            <ul>
              <li>PHP development for dynamic web solutions</li>
              <li>Frontend design using HTML, CSS, and JavaScript</li>
              <li>Database management with MySQL/MongoDB</li>
              <li>Version control using Git</li>
              <li>Problem-solving and code quality assurance</li>
              <li>Communication, collaboration, and time management</li>
              <li>Thorough project documentation</li>
            </ul>
            <ul>
              <li>Engage in online courses and tutorials</li>
              <li>Read extensively and conduct research</li>
              <li>Work on practice projects</li>
              <li>Participate in developer communities and code reviews</li>
              <li>Seek mentorship and pursue certifications</li>
              <li>Attend industry events and network</li>
              <li>Reflect on experiences for growth</li>
            </ul>
          </div>
        </div>
        <div class="timeline right">
          <div class="content">
            <h2 class="fw-bold display-5">System Engineer</h2>
            <p class="fw-bold ">Infosys <small>(June 2022 To oct 2022)</small></p>
            <ul>
              <li>In Mysuru, India, I underwent the Foundation Program training at Infosys Ltd, experiencing one of the
                world’s largest corporate training centers.</li>
              <li>This journey was transformative, offering a comprehensive curriculum divided into Generic and Stream
                phases over 19 weeks.</li>
              <li>The program was an intense roller coaster ride, equipping me with a plethora of technical skills
                including Python, Data Structures, Object-Oriented Programming, RDBMS, and Software Engineering.</li>
              <li>Additionally, I gained expertise in PowerShell scripting, Unix scripting, Client and Server
                Administration, Network Configuration, Troubleshooting, Security, Apache server installation & web
                hosting, and Puppet Administration.</li>
              <li>Beyond technical skills, Infosys emphasized soft skill development through modules like Business
                Communication, Confidence Building, Design Thinking, and Stakeholder Engagement.</li>
              <li>This immersive training not only enhanced my technical proficiency but also contributed to personal
                growth, grooming, and instilling essential soft skills.</li>
              <li>It was a journey that shaped me both professionally and personally, making me a better individual.
              </li>
            </ul>
          </div>
        </div>
        <div class="timeline left">
          <div class="content">
            <h2 class="fw-bold display-5">Project Supervisor</h2>
            <p class="fw-bold ">Brightiside Eninering <small>(Sept 2021 To April 2022)</small></p>
            <ul>
              <li>Actively participating in:
                <ul>
                  <li>Supervising and coordinating activities</li>
                  <li>Material purchase</li>
                  <li>Work permit</li>
                  <li>Workman safety</li>
                  <li>Entry management</li>
                  <li>Handling manpower</li>
                  <li>Completing project before deadline</li>
                </ul>
              </li>
              <li>Areas of experience:
                <ul>
                  <li>GE India Pvt Ltd</li>
                  <li>SANDVIK Asia Pvt Ltd</li>
                  <li>Tetrapak India Pvt Ltd</li>
                  <li>VB Capitol (BSA Office/IT Office)</li>
                  <li>Phillip Electronics Pvt Ltd</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>

<!-- Callout -->
<section class="py-5 skills" id="skills">
  <div class="container text-center ">
    <span class="title text-yellow">SKILLS</span>
    <p class="h5 pb-3">Tools and Technologies I am proficient in</p>
    <div class="row text-center justify-content-center bg_01 mb-5">
      <h2 class="py-3  border_b">Languages</h2>
      <div class="col-lg-2 col-md-6 col-sm-6 col-6 pt-4" *ngFor="let value of languages">
        <div class="pr-md-5 pb-5  ">
          <div class="">
            <img src="assets/img/atish/skills/languages/{{value.logo}}.png" alt="" height="80px">
          </div>
          <button type="submit" class="btn btn_01 px-4 mt-3">{{value.name}}</button>
        </div>
      </div>
    </div>
    <div class="row text-center justify-content-center bg_01 mb-5">
      <h2 class="py-3  border_b">Frameworks & Libraries</h2>
      <div class="col-lg-2 col-md-6 col-sm-6 col-6 pt-4" *ngFor="let value of frameworks">
        <div class="pr-md-5 pb-5  ">
          <div class="">
            <img src="assets/img/atish/skills/frameworks/{{value.logo}}.png" alt="" height="80px">
          </div>
          <button type="submit" class="btn btn_01 px-4 mt-3">{{value.name}}</button>
        </div>
      </div>
    </div>
    <div class="row text-center justify-content-center bg_01 mb-5">
      <h2 class="py-3  border_b">Database & Tools</h2>
      <div class="col-lg-2 col-md-6 col-sm-6 col-6 pt-4" *ngFor="let value of tools">
        <div class="pr-md-5 pb-5  ">
          <div class="">
            <img src="assets/img/atish/skills/tools/{{value.logo}}.png" alt="">
          </div>
          <button type="submit" class="btn btn_01 px-4 mt-3">{{value.name}}</button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Portfolio -->
<section class="py-5 bg-primary text-white " id="education">
  <div class="container">
    <div class="content-section-heading text-center">
      <span class="title text-secondary mb-0">EDUCATION</span>
      <p class="h5">Exploring My Educational Background</p>
    </div>
    <section>
      <div class="container con_t_line">
        <div class="timeline left">
          <div class="content">
            <h2 class="fw-bold display-5">Full Stack Web development</h2>
            <p class="fw-bold ">Marvellous Infosystem <small>(Feb 2023 To Jan 2024)</small></p>

            <ul>
              <li>Marvelous Infosystem's curriculum offers a comprehensive array of technologies essential for
                full-stack web development. Angular, TypeScript, MongoDB, Node.js, and Express.js form the cornerstone
                of this robust arsenal.</li>
              <li>Angular, a powerful front-end framework, facilitates the creation of dynamic single-page applications,
                leveraging TypeScript for structured development. TypeScript enhances code quality and productivity,
                vital for Angular projects.</li>
              <li>MongoDB, a NoSQL database, excels in flexibility and scalability, managing diverse data structures
                efficiently. Node.js, a server-side runtime environment, enables scalable back-end development with its
                event-driven, non-blocking I/O model.</li>
              <li>Express.js, built atop Node.js, simplifies server-side scripting and aids in API development through
                its robust features and middleware.</li>
              <li>Marvelous Infosystem's curriculum also encompasses foundational programming languages:
                <ul>
                  <li>C Programming: Efficient and crucial for system programming and embedded systems.</li>
                  <li>C++ Programming: Builds upon C with object-oriented features, ideal for software engineering and
                    game development.</li>
                  <li>Java: Known for platform independence and versatility, suitable for web applications and
                    enterprise-level systems.</li>
                </ul>
              </li>
              <li>This comprehensive education equips graduates with a strong foundation in programming languages,
                databases, and frameworks, positioning them for success in the dynamic field of web development.</li>
            </ul>
          </div>
        </div>
        <div class="timeline right">
          <div class="content">
            <h2 class="fw-bold display-5">Mechanical Engineering</h2>
            <p class="fw-bold ">RMD Sinhgad Institute & Technology<small>(June 2018 To oct 2021)</small></p>
            <p>In my three years of mechanical engineering, I've gained a comprehensive understanding of engineering principles such as thermodynamics, fluid mechanics, and mechanical design. Proficient in CAD software, I've translated theoretical knowledge into practical designs and simulations. Through hands-on projects and workshops, I've honed problem-solving skills and teamwork abilities. My passion for innovation and commitment to continuous learning drive me to stay updated with advancements in the field. Overall, my mechanical engineering background equips me with the skills and mindset to tackle complex engineering challenges and make meaningful contributions to the industry.</p>
          </div>
        </div>
        <div class="timeline left">
          <div class="content">
            <h2 class="fw-bold display-5">Mechanical Engineering <br> (Diploma)</h2>
            <p class="fw-bold ">Cusrow Wadia Institute & Technology<small>(June 2024 To May 2028)</small></p>
            <p>After completing my 10th grade education, I pursued a diploma in mechanical engineering. This educational path provided me with a comprehensive foundation in mechanical engineering principles and practices. Throughout the diploma program, I gained theoretical knowledge and practical experience in areas such as thermodynamics, fluid mechanics, materials science, and mechanical design. This hands-on learning approach enabled me to develop problem-solving skills and technical proficiency essential for the field. Additionally, it instilled in me a passion for engineering and a desire to further my education and career in the mechanical engineering domain.</p>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>

<!-- Call to Action -->
<section class="content-section bg-primary text-white"id="contact">
  <div class="container text-center">
    <h2 class="mb-4">The buttons below are impossible to resist...</h2>
    <a href="#" class="btn btn-xl btn-light mr-4">Click Me!</a>
    <a href="#" class="btn btn-xl btn-dark">Look at Me!</a>
  </div>
</section>


<!-- Footer -->
<footer class="footer text-center">
  <div class="container">
    <ul class="list-inline mb-5">
      <li class="list-inline-item">
        <a class="social-link rounded-circle text-white mr-3" href="#">
          <i class="icon-social-facebook"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="social-link rounded-circle text-white mr-3" href="#">
          <i class="icon-social-twitter"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="social-link rounded-circle text-white" href="#">
          <i class="icon-social-github"></i>
        </a>
      </li>
    </ul>
    <p class="text-muted small mb-0">Design & Develop By Ashish Kamble</p>
  </div>
</footer>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
  <i class="fa fa-angle-up"></i>
</a>
