
:root {
    --fcolor: #333333;
    --gray: #e2e8f0;
    --acolor: #313437;
    --bcolor: #41436c;
    --blue: #0180c3;
    --dark_purple: #343869;
    --yellow: #ceaa32;
    --purple: #a44283;
    --green: #007567;
    --footer_01: #e6e8e7;
    --skin: #ffe0c0;
    --dskin: #b3805e;
    --font_01: "Bebas Neue", sans-serif;
    --font_02: 'Tw Cen MT';
}

body {
    /* font-family: var(--font_02); */
    line-height: 1.5;
    font-weight: 300;
    color: #313437;
    font-size: 22px;
    /* background-color: #fefcfe; */
}

.letter_spac {
    letter-spacing: 4px;
}

.program_01 .col-md-7 {
    height: 300px;
}

@media (min-width: 768px) {

    .program_01 .col-md-7 {
        height: unset;
    }

    .letter_spac {
        letter-spacing: 6px;
    }
}

.text-purple {
    color: var(--purple) !important;
}

.text-dark_purple {
    color: var(--dark_purple) !important;
}

.text-yellow {
    color: var(--yellow) !important;
}

.text-blue {
    color: var(--blue) !important;
}

.text-gray {
    color: var(--gray);
}

.text-fcolor {
    color: var(--fcolor);
}

.text-footer_01 {
    color: var(--footer_01);
}

.text-tcolor {
    color: var(--tcolor) !important;
}

.text-green {
    color: var(--green) !important;
}

.text-acolor {
    color: var(--acolor);
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: var(--font_02);
    font-weight: 400;
    line-height: 1.2;
    color: var(--acolor);
    letter-spacing: 2px;
    /* color: #000000; */
}

p {
    font-family: var(--font_02);
    font-weight: 500;
}

.bg_img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bg-footer_01 {
    background-color: var(--footer_01);
}

.bg-blue {
    background-color: var(--blue);
}

.bg-dark_purple {
    background-color: var(--dark_purple);
}

.bg-purple {
    background-color: var(--purple);
}

.bg_position_t {
    background-position: top;
}

.bg_position_b {
    background-position: bottom;
}

.bg-yellow {
    background-color: var(--yellow);
}

.bg_position_c {
    background-position: center;
}

.bg_position_r {
    background-position: right;
}

.bg-gray {
    background-color: var(--gray);
}

.bg-fcolor {
    background-color: var(--fcolor);
}

.bg-tcolor {
    background-color: var(--tcolor);
}

.bg-acolor {
    background-color: var(--acolor);
}

.bg-green {
    background-color: var(--green);
}

.photo img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: solid 2px black;
}
.social-link {
    display: block;
    height: 4rem;
    width: 4rem;
    line-height: 4.3rem;
    font-size: 1.5rem;
    background-color: #1d809f;
    transition: background-color .15s ease-in-out;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,.1);
}
.about_01 img{
    height: 400px;
    width: 100%;
    object-fit: cover;
}
.title{
    font-size: 50px;
    font-weight: bold;
    border-bottom: solid 2px;
}