
:root {
    --fcolor: #333333;
    --gray: #cdd9e4;
    --acolor: #313437;
    --bcolor: #41436c;
    --blue: #0180c3;
    --dark_purple: #343869;
    --yellow: #ceaa32;
    --purple: #a44283;
    --green: #007567;
    --footer_01: #e6e8e7;
    --skin: #ffe0c0;
    --dskin: #b3805e;
    --font_01: "Bebas Neue", sans-serif;
    --font_02: 'Tw Cen MT';
}

body {
    /* font-family: var(--font_02); */
    line-height: 1.5;
    font-weight: 300;
    color: #313437;
    font-size: 22px;
    /* background-color: #fefcfe; */
}

.letter_spac {
    letter-spacing: 4px;
}

.program_01 .col-md-7 {
    height: 300px;
}

@media (min-width: 768px) {

    .program_01 .col-md-7 {
        height: unset;
    }

    .letter_spac {
        letter-spacing: 6px;
    }
}

.text-purple {
    color: var(--purple) !important;
}

.text-dark_purple {
    color: var(--dark_purple) !important;
}

.text-yellow {
    color: var(--yellow) !important;
}

.text-blue {
    color: var(--blue) !important;
}

.text-gray {
    color: var(--gray);
}

.text-fcolor {
    color: var(--fcolor);
}

.text-footer_01 {
    color: var(--footer_01);
}

.text-tcolor {
    color: var(--tcolor) !important;
}

.text-green {
    color: var(--green) !important;
}

.text-acolor {
    color: var(--acolor);
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: var(--font_02);
    font-weight: 400;
    line-height: 1.2;
    color: var(--acolor);
    letter-spacing: 2px;
    /* color: #000000; */
}

p {
    font-family: var(--font_02);
    font-weight: 500;
}

.bg_img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bg-footer_01 {
    background-color: var(--footer_01);
}

.bg-blue {
    background-color: var(--blue);
}

.bg-gray {
    background-color: var(--gray);
}

.bg-dark_purple {
    background-color: var(--dark_purple);
}

.bg-purple {
    background-color: var(--purple);
}

.bg_position_t {
    background-position: top;
}

.bg_position_b {
    background-position: bottom;
}

.bg-yellow {
    background-color: var(--yellow);
}

.bg_position_c {
    background-position: center;
}

.bg_position_r {
    background-position: right;
}

.bg-gray {
    background-color: var(--gray);
}

.bg-fcolor {
    background-color: var(--fcolor);
}

.bg-tcolor {
    background-color: var(--tcolor);
}

.bg-acolor {
    background-color: var(--acolor);
}

.bg-green {
    background-color: var(--green);
}
.btn_01{
    background-color: white;
    color: var(--bs-dark);
    border: solid 1px black;
    border-radius: 20px;
    transition: 1s;

}

.btn_01:hover{
    transform: scale(1.10);
}
.photo img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: solid 2px black;
}
.social-link {
    display: block;
    height: 4rem;
    width: 4rem;
    line-height: 4.3rem;
    font-size: 1.5rem;
    background-color: #1d809f;
    transition: background-color .15s ease-in-out;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,.1);
}
.about_01 img{
    height: 400px;
    width: 100%;
    object-fit: cover;
}
.title{
    font-size: 50px;
    font-weight: bold;
    border-bottom: solid 2px;
}
/* The actual timeline (the vertical ruler) */
.container {
    position: relative;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.container.con_t_line::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -0px;
}

/* Container around content */
.timeline {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.timeline::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid var(--yellow);
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid var(--yellow);
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent var(--yellow);
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid var(--bs-dark);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--bs-dark) transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -9px;
}
.skills .row img{
    height: 80px;
    width: 70px;
    object-fit: contain;
    transform: 1s;

} 

.skills .row img:hover{
    object-fit: contain;
    transform: scale(1.10);
    
} 
/* The actual content */
.content {
    padding: 20px 30px;
    background-color: white;
    color: black;
    position: relative;
    border-radius: 6px;
}
.bg_01{
    background-color: #c8d1d9;
    border-radius: 20px;
}
.border_b{
    border-bottom: solid 1px;
    width: 90%;
}
/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {

    /* Place the timelime to the left */
    .container.con_t_line::after {
        left: 36px;
    }
    
/* The circles on the timeline */
.timeline::after {
    border: unset;
}
/* The actual timeline (the vertical ruler) */
.container.con_t_line::after {
    background-color: unset;
}
.container {
    padding-right: 10px;
    padding-left: 10px;
    overflow: hidden;
}

    /* Full-width containers */
    .timeline {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .timeline::before {
        left: 60px;
        border: medium solid var(--bs-dark);
        border-width: 10px 10px 10px 0;
        border-color: transparent var(--bs-dark) transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after,
    .right::after {
        left: 15px;
    }

    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }
}
@media screen and (min-width: 768px) {

}